// Variables --------------------------

// Colors -----------------------------
$green: #22941a;
$white: #fff;
$blue: #387ef5;
// Colors End -------------------------


// Variables End ----------------------