// Variables --------------------------

// Colors -----------------------------
$green: #22941a;
$white: #fff;
$black: #000;
$dark_gray: #333;
$lite_gray: #dedede;
$blue: #387ef5;
$orange: #ffa500;
$red: #ff0000;
// Colors End -------------------------


// Variables End ----------------------