<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="tmdu-logo-wrapper"><img src="./assets/img/logo.png" /></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="today-tips">
    <ion-refresher (ionRefresh)="refreshTips($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        ></ion-refresher-content>
    </ion-refresher>
  <ion-list>
    <ion-card>{{todayTipsLength}}</ion-card>
    <ion-card *ngFor="let tip of todayTips">
      <ion-item class="tmdu-tip-competition">
        <h3>{{ tip.competition }}</h3>
      </ion-item>

      <ion-item class="tmdu-tip-date">
        <h5>{{ tip.game_start.date }}</h5>
      </ion-item>

      <ion-item class="tmdu-tip-team-item">
          <ion-row class="tmdu-team-data">
              <ion-col width-80><p>{{ tip.homeTeamName }}</p></ion-col>
              <ion-col width-20><p>{{ tip.homeTeamGoals }}</p></ion-col>
          </ion-row>

          <ion-row class="tmdu-toggle-stats-btn" (click)="showStats($event)">Stats
              <ion-icon name="podium"></ion-icon>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-title">
              <h5>Last Five</h5>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item">
              <ion-col width-20 class="tmdu-stats-badge {{outcome}}" *ngFor="let outcome of tip.homeTeamStats.lastFive"><p>{{outcome}}</p></ion-col>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-title">
              <h5>Last Five Head-To-Head</h5>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-header-grp">
              <ion-col width-25 class="tmdu-stats-header">W</ion-col>
              <ion-col width-25 class="tmdu-stats-header">D</ion-col>
              <ion-col width-25 class="tmdu-stats-header">L</ion-col>
              <ion-col width-25 class="tmdu-stats-header">GD</ion-col>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item">
              <ion-col width-25 class="tmdu-stats-field" *ngFor="let stat of tip.homeTeamStats.headToHeadLastFive">{{stat}}</ion-col>
          </ion-row>

      </ion-item>

      <ion-item class="tmdu-tip-team-item">

          <ion-row class="tmdu-team-data">
              <ion-col width-80><p>{{ tip.guestTeamName }}</p></ion-col>
              <ion-col width-20><p>{{ tip.guestTeamGoals }}</p></ion-col>
          </ion-row>

          <ion-row class="tmdu-toggle-stats-btn" (click)="showStats($event)">Stats
              <ion-icon name="podium"></ion-icon>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-title">
              <h5>Last Five</h5>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item">
              <ion-col width-20 class="tmdu-stats-badge {{outcome}}" *ngFor="let outcome of tip.guestTeamStats.lastFive"><p>{{outcome}}</p></ion-col>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-title">
              <h5>Last Five Head-To-Head</h5>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item tmdu-stats-header-grp">
              <ion-col width-25 class="tmdu-stats-header">W</ion-col>
              <ion-col width-25 class="tmdu-stats-header">D</ion-col>
              <ion-col width-25 class="tmdu-stats-header">L</ion-col>
              <ion-col width-25 class="tmdu-stats-header">GD</ion-col>
          </ion-row>

          <ion-row class="tmdu-hidden tmdu-stats-item">
            <ion-col width-25 class="tmdu-stats-field" *ngFor="let stat of tip.guestTeamStats.headToHeadLastFive">{{stat}}</ion-col>
          </ion-row>
      </ion-item>

      <ion-item class="tmdu-tip-info">
          <ion-row>
              <ion-col width-50><p class="{{ tip.tipOutcome }} tmdu-rounded-block">{{ tip.tipContent }}</p></ion-col>
              <ion-col width-50><p class="tmdu-coefficient-item tmdu-rounded-block">Odds: {{ tip.coefficient }}</p></ion-col>
          </ion-row>

          <ion-row>
              <ion-col width-50><p>{{ tip.game_start.hours }}</p></ion-col>
              <ion-col width-50 class=""><p class="{{ tip.tipStatus }} tmdu-first-leter tmdu-rounded-block">{{ tip.tipStatus }}</p></ion-col>
          </ion-row>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
